!!! 5
%html
  %head
    %title HungerShack
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', data: { 'turbolinks-track': 'reload' }
    = javascript_include_tag 'application', data: { 'turbolinks-track': 'reload' }

  %body
    = render 'static_pages/header'

    .ui.grid.container
      &nbsp;
      = yield
      &nbsp;

    = render 'static_pages/footer'
